vendor/
node_modules/
npm-debug.log
.idea/
*.log

# Laravel 4 specific
src/bootstrap/compiled.php
src/app/storage/

# Laravel 5 & Lumen specific
src/public/storage
src/public/hot
src/storage/*.key
src/.env.*.php
src/.env.php
src/.env
src/Homestead.yaml
src/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Swagger
src/resources/views/vendor/l5-swagger